.page {
  overflow-x: hidden;
    width: 100%;
    height:100%;
    position: absolute;
    padding-bottom: 20px;
  }
  
  .top-tags {
    position: absolute;
    margin-top: 20px;
    margin-left: 100px;
  }
  

  .tags {
    color: #5a3f75;
    opacity: 0.6;
    position: absolute;
    font-size: 18px;
    font-family: 'La Belle Aurore', cursive;
  }
  
  .bottom-tag-html {
    margin-left: -20px;
  }

.container {
  overflow: auto;
  width:100%;
  
  position: fixed;
  opacity:1;
  z-index: 1;
}


@media screen and (max-width: 1200px) and (min-width: 450px) {
  .page {
    width:95%;
    position: initial;
    margin-top: 50px;
    margin-left: 20px;
  }

  .top-tags {
   margin-top: 105px;
  }
  .bottom-tags {
    bottom: -550px;
    margin-left: -40px;
  }
  .container {
    min-height: auto;
    &.contact-page,
    &.about-page,
    &.project-page {
      .text-zone {
        position: initial;
        transform: none;
        @width: 100%;
        display: block;
        padding: 20px;
        box-sizing: border-box;
      }
    }
    
  }
}

@media screen and (max-width: 450px) {
  .page {
    position: initial;
  }

  .top-tags {
    bottom: auto;
    top: 120px;
    left:20px;
  }
  .bottom-tags {
    bottom: -700px;
    margin-left: -40px;
  }
  .container {
    position: initial;
    margin-left: 10px;
    &.contact-page,
    &.about-page,
    &.project-page {
      .text-zone {
        margin-top: 180px;
        position: initial;
        transform: none;
        width: 100%;
        display: block;
        padding: 20px;
        box-sizing: border-box;
      }
    }
    
  }

}