.project-text {
    position: absolute;
    font-family: 'Helvetica';
    padding-bottom:20px;

    li {
      list-style: none;
    }

    .button-wrapper {
      padding-left: 6px;
      padding-right: 6px;
      padding-top: 2px;
      padding-bottom: 2px;

      text-align: center;
      border-radius: 8px;
      border:1px solid;
      margin-top:3px;
      margin-bottom: 3px;
      margin-left:3px;
      margin-right: 3px;
      background-color: #9c89b5;
      float:left;
      &:hover {
        background-color:rgb(166, 123, 191);
        border: 1px solid rgb(83, 83, 83);
        -webkit-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
      }   
    }

    .active-button-wrapper {
      padding: 4px;
      text-align: center;
      width:180px;
      border-radius: 8px;
      border:1px solid;
      margin-left:3px;
      margin-right: 3px;
      float:left;
        background-color: #1106ac;
        &:hover {
          background-color:rgb(115, 25, 167);
          border: 1px solid rgb(83, 83, 83);
          -webkit-transition: all 0.2s ease-out;
              transition: all 0.2s ease-out;
        }   
      }
  }

  .project-display {
    font-family: "Helvetica";
    margin-top: 80px;
    position: absolute;
    display: inline-block;
    background-color: rgb(127, 127, 206);

    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

    width:600px;

    border-color: black;
    border-radius: 12px;
    border:1px solid;

    opacity: 0;
    animation: fadeIn 0.8s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    .fade {
      opacity: 0;

      animation: fadeIn 0.8s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
    }

    h2 {
        font-weight: 400px;
        letter-spacing: 3px;
        text-align: center;
        font-family: 'Coolvetica';
    }

    a {
        text-decoration: none;
        color: #272545;
    }
    .display-text{
        font-size: 18px;
        padding-left:10px;
        padding-right: 10px;
    }
    .img-container {
        text-align: center;
    }
    img {
        width:500px;
        @text-align: center;
    }
  }


@media screen and (max-width: 1200px) and (min-width: 450px) {
  .project-text {
    max-width: 450px;
  }
  .project-display {
    position: absolute;
    display: inline-block;
    margin-top: 110px;
    width:450px;

    .img-container {
      width:400px;
      height:350px;
      margin-top: 15px;
      margin-left: 25px;
  }
  

    img {
      width:400px;
  }

  }
}

@media screen and (max-width: 450px) {
  .project-text {
    max-width: 380px;
    font-size: 15px;
  }
  .project-display {
    position: absolute;
    display: inline-block;
    margin-top: 100px;
    width:300px;

    .img-container {
      width:300px;
      margin-top: 15px;
      margin-left: 15px;
  }
  

    img {
      width:300px;
  }

  }
}